
<div class="contact-us ltr">
    <i class="fas fa-at fa-lg" aria-hidden="true"></i>
    <a href="mailto:@Model.Person.Email">@Model.Person.Email</a>
</div>
<div class="contact-us ltr">
    <i class="fas fa-phone fa-lg" aria-hidden="true"></i>
    <a href="tel:@Model.Person.Phone">@Model.Person.Phone</a>
</div>
<a class="btn btn-info btn-lg" href="https://t.me/@Model.Person.TelegramId" target="_blank">
    <i class="fab fa-telegram-plane fa-2x"></i>
    <div class="popper">تلگرام</div>
</a>
<a class="btn btn-danger btn-lg" href="https://instagram.com/@Model.Person.InstagramId" target="_blank">
    <i class="fab fa-instagram fa-2x" aria-hidden="true"></i>
    <div class="popper">اینستاگرام</div>
</a>
<a class="btn btn-default btn-lg " href="https://sapp.ir/@Model.Person.SoroushId" target="_blank">
    <img class="sapp" src="~/Content/img/sapp.png" alt="سروش">
    <div class="popper">سروش</div>
</a>
<a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/@Model.Person.LinkedinId" target="_blank">
    <i class="fab fa-linkedin-in fa-2x" aria-hidden="true"></i>
    <div class="popper">لینکداین</div>
</a>
